.toast {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid var(--black);
  color: var(--black);
  border-radius: 0.4rem;
  font-weight: 300;
  position: relative;
  width: 100%;
  p {
    margin: 1rem 0.7rem 1rem 0;
  }
  &__icon {
    display: inline-block;
    margin: 0 0.8rem;
  }
  &--primary {
    background-color: var(--primary);
    color: var(--white);
  }
  &--success {
    background-color: var(--green);
    color: var(--white);
  }
  &--warning {
    background-color: var(--red);
    color: var(--white);
  }
  &--error {
    background-color: var(--red);
    color: var(--white);
  }
  &--info {
    background-color: var(--yellow);
    color: var(--white);
  }
}
